In [1]:
import requests
from bs4 import BeautifulSoup
import requests 
import json
import os
from dotenv import load_dotenv
import pandas as pd
from pandas import json_normalize
import tweepy
import time
load_dotenv()

True

In [2]:
apikey = os.getenv("apikey") #apikey de lastfm

# Spotify Most streamed
- scrapping

[charset: most streamed albums](https://chartmasters.org/spotify-most-streamed-albums/?y=alltime)
Last updated on 11/06/21

In [3]:
url_spotify = "https://chartmasters.org/spotify-most-streamed-albums/?y=alltime"
html_spotify = requests.get(url_spotify)
soup_spotify = BeautifulSoup(html_spotify.content,"html.parser")

In [4]:
tablas_spotify = soup_spotify.findAll("table")

In [5]:
spotify = tablas_spotify[1]
spotify.find_all("tr") #cuerpo
spotify.find_all("th") #cabeceros

[<th>Rank</th>,
 <th>Cover</th>,
 <th>Artist</th>,
 <th>Album</th>,
 <th>Total Streams</th>,
 <th>Daily Streams</th>,
 <th>EAS</th>]

In [6]:
def data_spotify():
    Top_alb = []
    for s in spotify.find_all("tr"):
        fila = [elemento for elemento in s.find_all("td")]
        if len(fila)>1:
            spot_dicc = {"Rank" : int(fila[0].text),
                        "Artist": fila[2].text.strip(),
                         "Album": fila[3].text.strip(),
                         "Total" :int(fila[4].text.replace(",","")),
                         "Daily" : int(fila[5].text.replace(",",""))
                        }
            Top_alb.append(spot_dicc)
    return Top_alb

In [7]:
Top_alb_spotify = data_spotify()

In [8]:
Spotify_500 = pd.DataFrame(Top_alb_spotify)
Spotify_500.sample(5)

     Rank            Artist                    Album       Total    Daily
211   212            Eminem  The Marshall Mathers LP  2155249279  1910973
154   155           6ix9ine                DUMMY BOY  2498336018   582377
66     67      Taylor Swift                    Lover  3548042284  2804985
284   285  The Chainsmokers            World War Joy  1807443056   740444
42     43        Bruno Mars     Doo-Wops & Hooligans  4305694314  3383008

In [9]:
Spotify_500.to_csv("../data/Spotify_500.csv")

# LastFM 50 Top Artists

In [10]:
url_last50 = f"http://ws.audioscrobbler.com/2.0/?method=chart.gettopartists&api_key={apikey}&format=json"
req_last50 = requests.get(url_last50).json()

In [11]:
last_50 = req_last50["artists"]["artist"]
last_top50 = pd.DataFrame.from_dict(last_50)

In [12]:
last_top50.sample(5)

,name,playcount,listeners,mbid,url,streamable,image
45,Michael Jackson,155696380,4104671,f27ec8db-af05-4f36-916e-3d57f91ecf5e,https://www.last.fm/music/Michael+Jackson,0,[{'#text': 'https://lastfm.freetls.fastly.net/...
44,Britney Spears,243784083,3843430,45a663b5-b1cb-4a91-bff6-2bef7bbfdd76,https://www.last.fm/music/Britney+Spears,0,[{'#text': 'https://lastfm.freetls.fastly.net/...
8,Adele,153353764,3426494,cc2c9c3c-b7bc-4b8b-84d8-4fbd8779e493,https://www.last.fm/music/Adele,0,[{'#text': 'https://lastfm.freetls.fastly.net/...
16,Frank Ocean,189512961,1879187,e520459c-dff4-491d-a6e4-c97be35e0044,https://www.last.fm/music/Frank+Ocean,0,[{'#text': 'https://lastfm.freetls.fastly.net/...
46,Mitski,65283050,675425,fa58cf24-0e44-421d-8519-8bf461dcfaa5,https://www.last.fm/music/Mitski,0,[{'#text': 'https://lastfm.freetls.fastly.net/...

In [13]:
last_top50.to_csv("../data/last_top50_image.csv") #me guardo esto por si acso

In [14]:
top50_lastfm = last_top50[['name', 'playcount', 'listeners']]

In [15]:
top50_lastfm.sample(5)

                  name  playcount listeners
10  Tyler, the Creator  171912155   1491844
49          Kali Uchis   47518839    816084
6            Lil Nas X   45499397   1104082
34        Harry Styles   74936363   1061404
4             Coldplay  426043460   6079329

In [16]:
top50_lastfm.to_csv("../data/top50_lastfm.csv")

# Top Sells

[top50]("https://www.businessinsider.com/50-best-selling-albums-all-time-2016-9")
Travis Clark Updated Sep 22, 2021, 8:18 PM

In [17]:
url_insider = "https://www.businessinsider.com/50-best-selling-albums-all-time-2016-9"
html_insider = requests.get(url_insider)
soup_insider = BeautifulSoup(html_insider.content,"html.parser")

In [18]:
tags_insider = soup_insider.find_all("div", {"class": "slide-layout"})
tags_insider[1]

<div class="slide-layout clearfix">
<div class="slide-title clearfix" data-e2e-name="slide-title">
<h2 class="slide-title-text">49. Kenny Rogers — "Kenny Rogers' Greatest Hits"</h2>
</div>
<figure class="figure image-figure-image" data-e2e-name="image-figure-image" data-media-container="image" data-type="img">
<div class="lazy-holder" style="padding-top: calc(100% * 898 / 980)">
<img alt="kenny rogers" class="lazy-image" data-content-type="image/jpeg" data-srcs='{"https://i.insider.com/57e43003077dccfc298b4a77":{"contentType":"image/jpeg","aspectRatioW":490,"aspectRatioH":449}}' src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"/>
<noscript>
<img src="https://i.insider.com/57e43003077dccfc298b4a77?width=600&amp;format=jpeg&amp;auto=webp"/>
</noscript>
</div>
<span class="image-source-only">
<span class="image-source headline-regular" data-e2e-name="image-source">
                                                  Liberty
                                                </span>
</span>
</figure>
<p><strong>Certified units: </strong>12 million</p><p><strong><a data-analytics-module="body_link" href="/reviews/out?asin=B000002U86&amp;originalTag=biip_092316_best-selling-albums-all-time-20&amp;platform=browser&amp;postSource=bi%7C57e4123eb0ef9737018b7881&amp;postTag=biauto-41385-20&amp;sc=false&amp;type=AMAZON-AFFILIATE-LINK&amp;u=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB000002U86%3Ftag%3Dbiauto-41385-20" rel="noopener" target="_blank">Buy it here &gt;&gt;</a></strong></p>
<div class="slide-options">
</div>
</div>

In [19]:
tags_insider[0].find("h2").getText()

'50. Led Zeppelin —\xa0"Led Zeppelin II"'

In [20]:
tags_insider[0].find_all("p")[0].getText()

'Certified units: 12\xa0million'

In [21]:
def data_sells():
    lista = []
    for t in tags_insider:
        dicc_t = {"album": t.find("h2").getText(),
                 "certified units" : t.find("p").getText()}
        lista.append(dicc_t)
    return lista

In [22]:
insider_data = data_sells()
insider_data[0]

{'album': '50. Led Zeppelin —\xa0"Led Zeppelin II"',
 'certified units': 'Certified units: 12\xa0million'}

In [23]:
insider = pd.DataFrame(insider_data)
insider.sample(3)

,album,certified units
3,"47. Jewel — ""Pieces of You""",Certified units: 12 million
40,"10. Hootie & The Blowfish — ""Cracked Rear View""",Certified units: 21 million
34,"16. Boston — ""Boston""",Certified units: 17 million

In [24]:
insider["Rank"] = insider["album"].str.extract(r"(^\d+)")
insider["Millions"] = insider["certified units"].str.extract(r"(\d+)")
insider["album"] = insider["album"].str.replace(" – "," — ",regex = True)
insider["Artist"] = insider["album"].str.extract(r"(^\d+.\s(.+?)—)")[1]
insider["Title"] = insider["album"].str.extract(r"(—\s(.+?)$)")[1]
insider["Title"] = insider["Title"].str.replace('"',"")

In [25]:
insider.sample(3)

,album,certified units,Rank,Millions,Artist,Title
38,"12. Shania Twain — ""Come On Over""",Certified units: 20 million,12,20,Shania Twain,Come On Over
33,"17. Elton John — ""Greatest Hits""",Certified units: 17 million,17,17,Elton John,Greatest Hits
6,"44. Boyz II Men — ""II""",Certified units: 12 million,44,12,Boyz II Men,II

In [26]:
insider.to_csv("../data/top_sells_certified.csv")

In [27]:
insider[["Millions","Rank"]] = insider[["Millions","Rank"]].astype("int64")
top_sells = insider[["Rank","Artist","Title","Millions"]]

In [28]:
top_sells.head()

   Rank         Artist                        Title  Millions
0    50  Led Zeppelin               Led Zeppelin II        12
1    49  Kenny Rogers   Kenny Rogers' Greatest Hits        12
2    48       Kenny G                    Breathless        12
3    47         Jewel                 Pieces of You        12
4    46   Def Leppard                      Hysteria        12

In [29]:
top_sells.to_csv("../data/top_sells.csv")

#### enriquecimiento top sells

In [30]:
def urls_llamadas_sells(): #pasar nombre tabla por parametros
    api_urls = []
    apikey = os.getenv("apikey")
    for s in range(len(top_sells)): #cambiarnombre tabla
        artist = top_sells.loc[s,'Artist'] #tambien pasar nombre columnas por parametros
        album = top_sells.loc[s,'Title']
        api_urls.append(f"http://ws.audioscrobbler.com/2.0/?method=album.getinfo&api_key={apikey}&artist={artist}&album={album}&format=json")
    request_dic = [] 
    i = 0
    for a in api_urls:
        res = requests.get(a).json()
        request_dic.append(res["album"])
        if i%50==0:
            print(f"{i} done")
        elif i == 499:
            print(f"index {i} reached, finished")
        i+=1
    return request_dic

In [31]:
req_top_sales = urls_llamadas_sells()

0 done

In [32]:
req_top_sales[3]

{'artist': 'Jewel',
 'mbid': '0970ae4a-c35a-4c55-8aa4-bb19af6695a4',
 'tags': {'tag': [{'url': 'https://www.last.fm/tag/female+vocalists',
    'name': 'female vocalists'},
   {'url': 'https://www.last.fm/tag/folk', 'name': 'folk'},
   {'url': 'https://www.last.fm/tag/pop', 'name': 'pop'},
   {'url': 'https://www.last.fm/tag/90s', 'name': '90s'},
   {'url': 'https://www.last.fm/tag/singer-songwriter',
    'name': 'singer-songwriter'}]},
 'playcount': '2934308',
 'image': [{'size': 'small',
   '#text': 'https://lastfm.freetls.fastly.net/i/u/34s/b5830d83842eef2b4d5bd2648066909d.png'},
  {'size': 'medium',
   '#text': 'https://lastfm.freetls.fastly.net/i/u/64s/b5830d83842eef2b4d5bd2648066909d.png'},
  {'size': 'large',
   '#text': 'https://lastfm.freetls.fastly.net/i/u/174s/b5830d83842eef2b4d5bd2648066909d.png'},
  {'size': 'extralarge',
   '#text': 'https://lastfm.freetls.fastly.net/i/u/300x300/b5830d83842eef2b4d5bd2648066909d.png'},
  {'size': 'mega',
   '#text': 'https://lastfm.freetls.fastly.net/i/u/300x300/b5830d83842eef2b4d5bd2648066909d.png'},
  {'size': '',
   '#text': 'https://lastfm.freetls.fastly.net/i/u/300x300/b5830d83842eef2b4d5bd2648066909d.png'}],
 'tracks': {'track': [{'streamable': {'fulltrack': '0', '#text': '0'},
    'duration': 240,
    'url': 'https://www.last.fm/music/Jewel/Pieces+of+You/Who+Will+Save+Your+Soul',
    'name': 'Who Will Save Your Soul',
    '@attr': {'rank': 1},
    'artist': {'url': 'https://www.last.fm/music/Jewel',
     'name': 'Jewel',
     'mbid': ''}},
   {'streamable': {'fulltrack': '0', '#text': '0'},
    'duration': 255,
    'url': 'https://www.last.fm/music/Jewel/Pieces+of+You/Pieces+of+You',
    'name': 'Pieces of You',
    '@attr': {'rank': 2},
    'artist': {'url': 'https://www.last.fm/music/Jewel',
     'name': 'Jewel',
     'mbid': ''}},
   {'streamable': {'fulltrack': '0', '#text': '0'},
    'duration': 149,
    'url': 'https://www.last.fm/music/Jewel/Pieces+of+You/Little+Sister',
    'name': 'Little Sister',
    '@attr': {'rank': 3},
    'artist': {'url': 'https://www.last.fm/music/Jewel',
     'name': 'Jewel',
     'mbid': ''}},
   {'streamable': {'fulltrack': '0', '#text': '0'},
    'duration': 339,
    'url': 'https://www.last.fm/music/Jewel/Pieces+of+You/Foolish+Games',
    'name': 'Foolish Games',
    '@attr': {'rank': 4},
    'artist': {'url': 'https://www.last.fm/music/Jewel',
     'name': 'Jewel',
     'mbid': ''}},
   {'streamable': {'fulltrack': '0', '#text': '0'},
    'duration': 188,
    'url': 'https://www.last.fm/music/Jewel/Pieces+of+You/Near+You+Always',
    'name': 'Near You Always',
    '@attr': {'rank': 5},
    'artist': {'url': 'https://www.last.fm/music/Jewel',
     'name': 'Jewel',
     'mbid': ''}},
   {'streamable': {'fulltrack': '0', '#text': '0'},
    'duration': 403,
    'url': 'https://www.last.fm/music/Jewel/Pieces+of+You/Painters',
    'name': 'Painters',
    '@attr': {'rank': 6},
    'artist': {'url': 'https://www.last.fm/music/Jewel',
     'name': 'Jewel',
     'mbid': ''}},
   {'streamable': {'fulltrack': '0', '#text': '0'},
    'duration': 215,
    'url': 'https://www.last.fm/music/Jewel/Pieces+of+You/Morning+Song',
    'name': 'Morning Song',
    '@attr': {'rank': 7},
    'artist': {'url': 'https://www.last.fm/music/Jewel',
     'name': 'Jewel',
     'mbid': ''}},
   {'streamable': {'fulltrack': '0', '#text': '0'},
    'duration': 422,
    'url': 'https://www.last.fm/music/Jewel/Pieces+of+You/Adrian',
    'name': 'Adrian',
    '@attr': {'rank': 8},
    'artist': {'url': 'https://www.last.fm/music/Jewel',
     'name': 'Jewel',
     'mbid': ''}},
   {'streamable': {'fulltrack': '0', '#text': '0'},
    'duration': 174,
    'url': 'https://www.last.fm/music/Jewel/Pieces+of+You/I%27m+Sensitive',
    'name': "I'm Sensitive",
    '@attr': {'rank': 9},
    'artist': {'url': 'https://www.last.fm/music/Jewel',
     'name': 'Jewel',
     'mbid': ''}},
   {'streamable': {'fulltrack': '0', '#text': '0'},
    'duration': 252,
    'url': 'https://www.last.fm/music/Jewel/Pieces+of+You/You+Were+Meant+For+Me',
    'name': 'You Were Meant For Me',
    '@attr': {'rank': 10},
    'artist': {'url': 'https://www.last.fm/music/Jewel',
     'name': 'Jewel',
     'mbid': ''}},
   {'streamable': {'fulltrack': '0', '#text': '0'},
    'duration': 214,
    'url': 'https://www.last.fm/music/Jewel/Pieces+of+You/Don%27t',
    'name': "Don't",
    '@attr': {'rank': 11},
    'artist': {'url': 'https://www.last.fm/music/Jewel',
     'name': 'Jewel',
     'mbid': ''}},
   {'streamable': {'fulltrack': '0', '#text': '0'},
    'duration': 229,
    'url': 'https://www.last.fm/music/Jewel/Pieces+of+You/Daddy',
    'name': 'Daddy',
    '@attr': {'rank': 12},
    'artist': {'url': 'https://www.last.fm/music/Jewel',
     'name': 'Jewel',
     'mbid': ''}},
   {'streamable': {'fulltrack': '0', '#text': '0'},
    'duration': 158,
    'url': 'https://www.last.fm/music/Jewel/Pieces+of+You/Angel+Standing+By',
    'name': 'Angel Standing By',
    '@attr': {'rank': 13},
    'artist': {'url': 'https://www.last.fm/music/Jewel',
     'name': 'Jewel',
     'mbid': ''}},
   {'streamable': {'fulltrack': '0', '#text': '0'},
    'duration': 272,
    'url': 'https://www.last.fm/music/Jewel/Pieces+of+You/Amen',
    'name': 'Amen',
    '@attr': {'rank': 14},
    'artist': {'url': 'https://www.last.fm/music/Jewel',
     'name': 'Jewel',
     'mbid': ''}}]},
 'url': 'https://www.last.fm/music/Jewel/Pieces+of+You',
 'name': 'Pieces of You',
 'listeners': '391891',
 'wiki': {'published': '04 Apr 2009, 15:25',
  'summary': 'Pieces of You is the debut album by singer/songwriter Jewel , released in 1995. Though it made little impact initially, who will save your soul eventually received airplay and the album sold over 12 million copies in the USA, making it one of the best selling debut albums ever. It was produced by Ben Keith, who has also produced works for artists such as Neil Young and Patsy Cline. Other hits include foolish games and you were meant for me as well as the UK single morning song After two years, the album was re-released. Featuring the re-recordings for You <a href="https://www.last.fm/music/Jewel/Pieces+of+You">Read more on Last.fm</a>.',
  'content': 'Pieces of You is the debut album by singer/songwriter Jewel , released in 1995. Though it made little impact initially, who will save your soul eventually received airplay and the album sold over 12 million copies in the USA, making it one of the best selling debut albums ever. It was produced by Ben Keith, who has also produced works for artists such as Neil Young and Patsy Cline. \nOther hits include foolish games  and you were meant for me  as well as the UK single morning song \n\nAfter two years, the album was re-released. Featuring the re-recordings for You Were Meant for Me and Foolish Games.\n\nPersonnel \n\n    * Jewel  - guitar, vocals\n    * Robbie Buchanan - piano\n    * Oscar Butterworth - drums\n    * Charlotte Caffey - piano\n    * Tim Drummond - bass\n    * Mark Howard - bass\n    * Spooner Oldham - keyboard\n    * Kristin Wilkinson - strings\n\nProduction\n\n    * Producer: Ben Keith\n    * Engineers: Tim Mulligan, John Nowland\n    * Assistant engineers: John Dixon, John Mausmann\n    * Mixing: Gene Eichelberger, Tim Mulligan, John Nowland, Joe Baldridge\n    * Mastering: Tim Mulligan\n    * A&R: Jenny Price\n    * Production coordination: Gena Maria Rankin\n    * Digital editing: Tim Mulligan\n    * Arrangers: Charlotte Caffey, Jewel\n    * Art direction: John Codling\n    * Photography: Hugh Hales-Tooke\n <a href="https://www.last.fm/music/Jewel/Pieces+of+You">Read more on Last.fm</a>. User-contributed text is available under the Creative Commons By-SA License; additional terms may apply.'}}

In [33]:
top_sales_df = pd.DataFrame(req_top_sales)
top_sales_df.sample(3)

,artist,mbid,tags,playcount,image,tracks,url,name,listeners,wiki
7,Bon Jovi,0afd7e26-13cf-474a-9054-40e67b178240,{'tag': [{'url': 'https://www.last.fm/tag/rock...,7069566,"[{'size': 'small', '#text': 'https://lastfm.fr...","{'track': [{'streamable': {'fulltrack': '0', '...",https://www.last.fm/music/Bon+Jovi/Slippery+Wh...,Slippery When Wet,693487,"{'published': '05 May 2010, 19:47', 'summary':..."
2,Kenny G,0c363653-4534-4f8b-b172-7c6545a8e3ef,{'tag': [{'url': 'https://www.last.fm/tag/smoo...,660053,"[{'size': 'small', '#text': 'https://lastfm.fr...","{'track': [{'streamable': {'fulltrack': '0', '...",https://www.last.fm/music/Kenny+G/Breathless,Breathless,76382,"{'published': '09 Sep 2010, 22:39', 'summary':..."
40,Hootie,,,187,"[{'size': 'small', '#text': ''}, {'size': 'med...",NaN,https://www.last.fm/music/Hootie/Cracked+Rear+...,Cracked Rear View,29,NaN

In [34]:
top_50_sales = top_sales_df[["artist","name","playcount","listeners"]]
top_50_sales.sample(3)

           artist                           name playcount listeners
45    The Beatles  The Beatles (The White Album)   4558789    327346
44     Billy Joel         Greatest Hits Volume 1     27932      2043
36  Guns N' Roses       Appetite for Destruction  31728598   1986764

In [35]:
top_50_sales_rich = top_sells.merge(top_50_sales,left_index=True, right_index=True)
top_50_sales_rich.sample(3)

,Rank,Artist,Title,Millions,artist,name,playcount,listeners
30,20,Bee Gees,Saturday Night Fever (Soundtrack),15,Bee Gees,Saturday Night Fever (Soundtrack),3793,463
2,48,Kenny G,Breathless,12,Kenny G,Breathless,660053,76382
17,33,Meat Loaf,Bat Out of Hell,14,Meat Loaf,Bat Out of Hell,3005793,358152

In [36]:
top_sales_rich = top_50_sales_rich[["Rank","Artist","Title","playcount","listeners"]]
top_sales_rich.sample(3)

    Rank         Artist            Title playcount listeners
46     4         AC/DC     Back In Black  25185393   1507204
37    13  Garth Brooks         No Fences    277614     34530
0     50  Led Zeppelin   Led Zeppelin II  17793537    993000

In [37]:
top_sales_rich.to_csv("../data/top_sells_rich.csv")

# Top 500 albums Rolling Stones enrinquecimiento con LastFM

### carga de archivo limpio

In [44]:
stone = pd.read_csv("../data/stone.csv", encoding='latin-1')
stone = stone.drop("Unnamed: 0",axis=1)
stone.sample(3)

,Number,Year,Album,Artist,Genre,Subgenre,Alb_url,Gen,Subgen
115,116,1965,Out of Our Heads,The Rolling Stones,Rock,"Blues Rock, Rock & Roll",Out of Our Heads,Rock,Blues Rock
51,52,1975,Greatest Hits,Al Green,Funk / Soul,Soul,Greatest Hits,Funk / Soul,Soul
337,338,1968,Cheap Thrills,Big Brother & the Holding Company,Rock,"Folk Rock, Blues Rock, Psychedelic Rock",Cheap Thrills,Rock,Folk Rock

### llamada a las apis de lastFM

In [45]:
def urls_llamadas ():
    api_urls = []
    apikey = os.getenv("apikey")
    for s in range(len(stone)):
        artist = stone.loc[s,'Artist']
        album = stone.loc[s,'Alb_url']
        api_urls.append(f"http://ws.audioscrobbler.com/2.0/?method=album.getinfo&api_key={apikey}&artist={artist}&album={album}&format=json")
    request_dic = [] 
    i = 0
    for a in api_urls:
        res = requests.get(a).json()
        request_dic.append(res["album"])
        if i%50==0:
            print(f"{i} done")
        elif i == 499:
            print(f"index {i} reached, finished")
        i+=1
    return request_dic

In [46]:
Top500_last = urls_llamadas()

0 done
50 done
100 done
150 done
200 done
250 done
300 done
350 done
400 done
450 done
index 499 reached, finished

In [47]:
Top500_last_df = pd.DataFrame(Top500_last)

In [48]:
Top500_last_df.sample(3)

,artist,mbid,tags,playcount,image,tracks,url,name,listeners,wiki
21,Robert Johnson,0c35b9ae-1bb2-3c9f-9240-5c670c39bf38,{'tag': [{'url': 'https://www.last.fm/tag/blue...,1497358,"[{'size': 'small', '#text': 'https://lastfm.fr...","{'track': [{'streamable': {'fulltrack': '0', '...",https://www.last.fm/music/Robert+Johnson/The+C...,The Complete Recordings,113201,NaN
27,The Who,00deac48-ebdc-4008-93cd-f927a8b863a7,{'tag': [{'url': 'https://www.last.fm/tag/clas...,9430041,"[{'size': 'small', '#text': 'https://lastfm.fr...","{'track': [{'streamable': {'fulltrack': '0', '...",https://www.last.fm/music/The+Who/Who%27s+Next,Who's Next,881704,"{'published': '08 Aug 2012, 02:35', 'summary':..."
173,Bob Dylan,0586779a-1e0c-465a-ad7d-5dd1c0946028,{'tag': [{'url': 'https://www.last.fm/tag/folk...,4534702,"[{'size': 'small', '#text': 'https://lastfm.fr...","{'track': [{'streamable': {'fulltrack': '0', '...",https://www.last.fm/music/Bob+Dylan/Desire,Desire,432231,"{'published': '07 Jul 2008, 18:14', 'summary':..."

In [49]:
Top500_last_df.to_csv("../data/Top500LastFM_tracks.csv") #meloguardoporsiacaso

In [50]:
Lastfm_500 = Top500_last_df[["artist","playcount","name","listeners"]]
Lastfm_500.sample(3)

             artist playcount          name listeners
449  Jackson Browne    674050  For Everyman    140050
205          Prince   1405070    Dirty Mind    121908
480        D'Angelo   5199137        Voodoo    401795

In [51]:
stone_500 = stone[["Number","Year","Album","Artist","Gen","Subgen"]]
stone_500.sample(3)

,Number,Year,Album,Artist,Gen,Subgen
486,487,1983,She's So Unusual,Cyndi Lauper,Electronic,Pop Rock
230,231,1975,A Night at the Opera,Queen,Rock,Hard Rock
54,55,1968,Electric Ladyland,The Jimi Hendrix Experience,Rock,Electric Blues

In [52]:
#stone_alb.merge(reqs,left_index=True, right_index=True)
stone_500_richment = stone_500.merge(Lastfm_500,left_index=True, right_index=True)
stone_500_richment.sample(3)

,Number,Year,Album,Artist,Gen,Subgen,artist,playcount,name,listeners
88,89,1969,Dusty in Memphis,Dusty Springfield,Rock,Pop Rock,Dusty Springfield,2395302,Dusty In Memphis,370769
206,207,1970,Abraxas,Santana,Rock,Fusion,Santana,2287736,Abraxas,242111
427,428,1978,Outlandos d'Amour,The Police,Rock,Alternative Rock,The Police,2740301,Outlandos D'Amour,283797

In [53]:
stone_500_rich =stone_500_richment [["Number","Year","Album","Artist","Gen","Subgen","playcount","listeners"]]
stone_500_rich

,Number,Year,Album,Artist,Gen,Subgen,playcount,listeners
0,1,1967,Sgt. Pepper's Lonely Hearts Club Band,The Beatles,Rock,Rock & Roll,25182939,847569
1,2,1966,Pet Sounds,The Beach Boys,Rock,Pop Rock,13404037,543441
2,3,1966,Revolver,The Beatles,Rock,Psychedelic Rock,25992592,797075
3,4,1965,Highway 61 Revisited,Bob Dylan,Rock,Folk Rock,11047442,745854
4,5,1965,Rubber Soul,The Beatles,Rock,Pop Rock,21967444,707789
...,...,...,...,...,...,...,...,...
495,496,1969,Boz Scaggs,Boz Scaggs,Rock,Pop Rock,137392,24419
496,497,2001,White Blood Cells,The White Stripes,Rock,Indie Rock,22943931,1239882
497,498,1989,The Stone Roses,The Stone Roses,Rock,Indie Rock,13546818,852772
498,499,1971,Live in Cook County Jail,B.B. King,Blues,Electric Blues,240456,45734
499,500,1998,Aquemini,OutKast,Hip Hop,Reggae,8459160,533589

In [54]:
stone_500_rich.to_csv("../data/stone_500_rich.csv")