In [1]:
import requests
from bs4 import BeautifulSoup
import requests 
import json
import os
from dotenv import load_dotenv
import pandas as pd
from pandas import json_normalize
import tweepy
import time
load_dotenv()

True

In [2]:
apikey = os.getenv("apikey") #apikey de lastfm

# Spotify Most streamed
- scrapping

[charset: most streamed albums](https://chartmasters.org/spotify-most-streamed-albums/?y=alltime)
Last updated on 11/06/21

In [3]:
url_spotify = "https://chartmasters.org/spotify-most-streamed-albums/?y=alltime"
html_spotify = requests.get(url_spotify)
soup_spotify = BeautifulSoup(html_spotify.content,"html.parser")

In [4]:
tablas_spotify = soup_spotify.findAll("table")

In [5]:
spotify = tablas_spotify[1]
spotify.find_all("tr") #cuerpo
spotify.find_all("th") #cabeceros

[<th>Rank</th>,
 <th>Cover</th>,
 <th>Artist</th>,
 <th>Album</th>,
 <th>Total Streams</th>,
 <th>Daily Streams</th>,
 <th>EAS</th>]

In [6]:
def data_spotify(element):
    Top_alb = []
    for s in element.find_all("tr"):
        fila = [elemento for elemento in s.find_all("td")]
        if len(fila)>1:
            spot_dicc = {"Rank" : int(fila[0].text),
                        "Artist": fila[2].text.strip(),
                         "Album": fila[3].text.strip(),
                         "Total" :int(fila[4].text.replace(",","")),
                         "Daily" : int(fila[5].text.replace(",",""))
                        }
            Top_alb.append(spot_dicc)
    return Top_alb

In [7]:
element = spotify
Top_alb_spotify = data_spotify(element)
Top_alb_spotify[1]

{'Rank': 2,
 'Artist': 'Post Malone',
 'Album': 'beerbongs & bentleys',
 'Total': 9389163476,
 'Daily': 2729336}

In [61]:
Spotify_500 = pd.DataFrame(Top_alb_spotify)
Spotify_500.sample(3)

     Rank          Artist                           Album       Total    Daily
352   353          DaBaby                            KIRK  1626611817   709370
48     49  Arctic Monkeys                              AM  4099995491  2787712
485   486     Nicki Minaj  Pink Friday (Complete Edition)  1307541923   755071

In [9]:
Spotify_500.to_csv("../data/Spotify_500.csv",index=False)

# LastFM 50 Top Artists

In [10]:
url_last50 = f"http://ws.audioscrobbler.com/2.0/?method=chart.gettopartists&api_key={apikey}&format=json"
req_last50 = requests.get(url_last50).json()

In [11]:
last_50 = req_last50["artists"]["artist"]
last_top50 = pd.DataFrame.from_dict(last_50)

In [12]:
last_top50.sample(5)

,name,playcount,listeners,mbid,url,streamable,image
15,Arctic Monkeys,407800519,4151373,ada7a83c-e3e1-40f1-93f9-3e73dbc9298a,https://www.last.fm/music/Arctic+Monkeys,0,[{'#text': 'https://lastfm.freetls.fastly.net/...
28,The Neighbourhood,76223984,1439941,97b8d224-5660-419c-8dff-4b3bf0c33983,https://www.last.fm/music/The+Neighbourhood,0,[{'#text': 'https://lastfm.freetls.fastly.net/...
46,Playboi Carti,103988284,625308,,https://www.last.fm/music/Playboi+Carti,0,[{'#text': 'https://lastfm.freetls.fastly.net/...
37,Miley Cyrus,122778021,2698193,7e9bd05a-117f-4cce-87bc-e011527a8b18,https://www.last.fm/music/Miley+Cyrus,0,[{'#text': 'https://lastfm.freetls.fastly.net/...
42,J. Cole,81426100,2106393,875203e1-8e58-4b86-8dcb-7190faf411c5,https://www.last.fm/music/J.+Cole,0,[{'#text': 'https://lastfm.freetls.fastly.net/...

In [13]:
last_top50.to_csv("../data/last_top50_image.csv",index = False) #me guardo esto por si acso

In [14]:
top50_lastfm = last_top50[['name', 'playcount', 'listeners']]

In [15]:
top50_lastfm.sample(5)

           name  playcount listeners
39   A$AP Rocky   86507875   1457940
21  Post Malone   91716553   1337413
27  The Beatles  604520487   4258892
6         Adele  153707605   3431634
2      Doja Cat   96399064   1128815

In [16]:
top50_lastfm.to_csv("../data/top50_lastfm.csv",index=False)

# Top Sells

[top50](https://www.businessinsider.com/50-best-selling-albums-all-time-2016-9)
Travis Clark Updated Sep 22, 2021, 8:18 PM

In [17]:
url_insider = "https://www.businessinsider.com/50-best-selling-albums-all-time-2016-9"
html_insider = requests.get(url_insider)
soup_insider = BeautifulSoup(html_insider.content,"html.parser")

In [18]:
tags_insider = soup_insider.find_all("div", {"class": "slide-layout"})
tags_insider[1]

<div class="slide-layout clearfix">
<div class="slide-title clearfix" data-e2e-name="slide-title">
<h2 class="slide-title-text">49. Kenny Rogers — "Kenny Rogers' Greatest Hits"</h2>
</div>
<figure class="figure image-figure-image" data-e2e-name="image-figure-image" data-media-container="image" data-type="img">
<div class="lazy-holder" style="padding-top: calc(100% * 898 / 980)">
<img alt="kenny rogers" class="lazy-image" data-content-type="image/jpeg" data-srcs='{"https://i.insider.com/57e43003077dccfc298b4a77":{"contentType":"image/jpeg","aspectRatioW":490,"aspectRatioH":449}}' src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"/>
<noscript>
<img src="https://i.insider.com/57e43003077dccfc298b4a77?width=600&amp;format=jpeg&amp;auto=webp"/>
</noscript>
</div>
<span class="image-source-only">
<span class="image-source headline-regular" data-e2e-name="image-source">
                                                  Liberty
                                                </span>
</span>
</figure>
<p><strong>Certified units: </strong>12 million</p><p><strong><a data-analytics-module="body_link" href="/reviews/out?asin=B000002U86&amp;originalTag=biip_092316_best-selling-albums-all-time-20&amp;platform=browser&amp;postSource=bi%7C57e4123eb0ef9737018b7881&amp;postTag=biauto-41385-20&amp;sc=false&amp;type=AMAZON-AFFILIATE-LINK&amp;u=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB000002U86%3Ftag%3Dbiauto-41385-20" rel="noopener" target="_blank">Buy it here &gt;&gt;</a></strong></p>
<div class="slide-options">
</div>
</div>

In [19]:
tags_insider[0].find("h2").getText()

'50. Led Zeppelin —\xa0"Led Zeppelin II"'

In [20]:
tags_insider[0].find_all("p")[0].getText()

'Certified units: 12\xa0million'

In [21]:
def data_sells(element):
    lista = []
    for t in element:
        dicc_t = {"album": t.find("h2").getText(),
                 "certified units" : t.find("p").getText()}
        lista.append(dicc_t)
    return lista

In [22]:
insider_data = data_sells(tags_insider)
insider_data[0]

{'album': '50. Led Zeppelin —\xa0"Led Zeppelin II"',
 'certified units': 'Certified units: 12\xa0million'}

In [23]:
insider = pd.DataFrame(insider_data)
insider.sample(3)

,album,certified units
19,"31. Britney Spears — ""...Baby One More Time""",Certified units: 14 million
49,"1. Eagles — ""Their Greatest Hits (1971-1975)""",Certified units: 38 million
35,"15. Whitney Houston – ""The Bodyguard"" (Soundtr...",Certified units: 18 million

In [24]:
insider["Rank"] = insider["album"].str.extract(r"(^\d+)")
insider["Millions"] = insider["certified units"].str.extract(r"(\d+)")
insider["album"] = insider["album"].str.replace(" – "," — ",regex = True)
insider["Artist"] = insider["album"].str.extract(r"(^\d+.\s(.+?)—)")[1]
insider["Title"] = insider["album"].str.extract(r"(—\s(.+?)$)")[1]
insider["Title"] = insider["Title"].str.replace('"',"")

In [25]:
insider.sample(3)

,album,certified units,Rank,Millions,Artist,Title
21,"29. Adele — ""21""",Certified units: 14 million,29,14,Adele,21
44,"6. Billy Joel — ""Greatest Hits Volume 1 & Volu...",Certified units: 23 million,6,23,Billy Joel,Greatest Hits Volume 1 & Volume 2
49,"1. Eagles — ""Their Greatest Hits (1971-1975)""",Certified units: 38 million,1,38,Eagles,Their Greatest Hits (1971-1975)

In [26]:
insider.to_csv("../data/top_sells_certified.csv",index=False)

In [27]:
insider[["Millions","Rank"]] = insider[["Millions","Rank"]].astype("int64")
top_sells = insider[["Rank","Artist","Title","Millions"]]

In [28]:
top_sells.head()

   Rank         Artist                        Title  Millions
0    50  Led Zeppelin               Led Zeppelin II        12
1    49  Kenny Rogers   Kenny Rogers' Greatest Hits        12
2    48       Kenny G                    Breathless        12
3    47         Jewel                 Pieces of You        12
4    46   Def Leppard                      Hysteria        12

In [29]:
top_sells.to_csv("../data/top_sells.csv",index=False)

# Top 500 albums Rolling Stones enrinquecimiento con LastFM

### carga de archivo limpio

In [36]:
stone = pd.read_csv("../data/stone.csv")
#stone = stone.drop("Unnamed: 0",axis=1)
stone.head(3)

,Number,Year,Album,Artist,Type,Rating,Releases,Genre,Gen,Subgenre,Alb_url,Art_url
0,1,1971,What's Going On,Marvin Gaye,Album,4.65,38,r&b,r&b,NaN,What%27s%20Going%20On,Marvin%20Gaye
1,2,1966,Pet Sounds,The Beach Boys,Album,4.45,47,rock,rock,NaN,Pet%20Sounds,The%20Beach%20Boys
2,3,1971,Blue,Joni Mitchell,Album,4.45,18,folk,folk,NaN,Blue,Joni%20Mitchell

### llamada a las apis de lastFM

In [37]:
def urls_llamadas ():
    api_urls = []
    apikey = os.getenv("apikey")
    for s in range(len(stone)):
        artist = stone.loc[s,'Art_url']
        album = stone.loc[s,'Alb_url']
        api_urls.append(f"http://ws.audioscrobbler.com/2.0/?method=album.getinfo&api_key={apikey}&artist={artist}&album={album}&format=json")
    request_dic = [] 
    i = 0
    for a in api_urls:
        res = requests.get(a).json()
        request_dic.append(res["album"])
        if i%50==0:
            print(f"{i} done")
        elif i == 499:
            print(f"index {i} reached, finished")
        i+=1
    return request_dic

In [38]:
Top500_last = urls_llamadas()

0 done
50 done
100 done
150 done
200 done
250 done
300 done
350 done
400 done
450 done
index 499 reached, finished

In [39]:
Top500_last_df = pd.DataFrame(Top500_last)

In [41]:
Top500_last_df.head(3)

,artist,mbid,tags,playcount,image,tracks,url,name,listeners,wiki
0,Marvin Gaye,0f2ab0b8-99a3-41e6-a07a-c2f506bd5e34,{'tag': [{'url': 'https://www.last.fm/tag/soul...,5225169,"[{'size': 'small', '#text': 'https://lastfm.fr...","{'track': [{'streamable': {'fulltrack': '0', '...",https://www.last.fm/music/Marvin+Gaye/What%27s...,What's Going On,544344,"{'published': '08 Aug 2012, 04:25', 'summary':..."
1,The Beach Boys,05b2f6c8-f9fd-4499-bd70-6f7d629a9cd4,{'tag': [{'url': 'https://www.last.fm/tag/60s'...,13405485,"[{'size': 'small', '#text': 'https://lastfm.fr...","{'track': [{'streamable': {'fulltrack': '0', '...",https://www.last.fm/music/The+Beach+Boys/Pet+S...,Pet Sounds,543490,"{'published': '07 Jul 2017, 12:48', 'summary':..."
2,Joni Mitchell,008a8b2e-3b20-3d77-999b-4f27378bf868,{'tag': [{'url': 'https://www.last.fm/tag/folk...,9352559,"[{'size': 'small', '#text': 'https://lastfm.fr...","{'track': [{'streamable': {'fulltrack': '0', '...",https://www.last.fm/music/Joni+Mitchell/Blue,Blue,535371,"{'published': '08 Aug 2021, 14:19', 'summary':..."

In [42]:
Top500_last_df.to_csv("../data/Top500LastFM_tracks.csv",index=False) #meloguardoporsiacaso

In [47]:
Top500_last_df.columns

Index(['artist', 'mbid', 'tags', 'playcount', 'image', 'tracks', 'url', 'name',
       'listeners', 'wiki'],
      dtype='object')

In [48]:
Top500_last_df[["playcount","listeners"]] = Top500_last_df[["playcount","listeners"]].astype("int64")

In [49]:
Lastfm_500 = Top500_last_df[["artist","playcount","name","listeners"]]
Lastfm_500.head(3)

           artist  playcount             name  listeners
0     Marvin Gaye    5225169  What's Going On     544344
1  The Beach Boys   13405485       Pet Sounds     543490
2   Joni Mitchell    9352559             Blue     535371

In [50]:
Lastfm_500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   artist     500 non-null    object
 1   playcount  500 non-null    int64
 2   name       500 non-null    object
 3   listeners  500 non-null    int64
dtypes: int64(2), object(2)
memory usage: 15.8+ KB

In [52]:
stone.columns

Index(['Number', 'Year', 'Album', 'Artist', 'Type', 'Rating', 'Releases',
       'Genre', 'Gen', 'Subgenre', 'Alb_url', 'Art_url'],
      dtype='object')

In [53]:
stone_500 = stone[["Number","Year","Album","Artist","Type","Rating","Gen"]]
stone_500.sample(3)

     Number  Year                 Album     Artist   Type  Rating         Gen
179     180  1967       Forever Changes       Love  Album    4.45        rock
237     238  1977  Trans Europa Express  Kraftwerk  Album    4.15  electronic
101     102  1977             The Clash  The Clash  Album    4.25        punk

In [54]:
#stone_alb.merge(reqs,left_index=True, right_index=True)
stone_500_richment = stone_500.merge(Lastfm_500,left_index=True, right_index=True)
stone_500_richment.head(3)

,Number,Year,Album,Artist,Type,Rating,Gen,artist,playcount,name,listeners
0,1,1971,What's Going On,Marvin Gaye,Album,4.65,r&b,Marvin Gaye,5225169,What's Going On,544344
1,2,1966,Pet Sounds,The Beach Boys,Album,4.45,rock,The Beach Boys,13405485,Pet Sounds,543490
2,3,1971,Blue,Joni Mitchell,Album,4.45,folk,Joni Mitchell,9352559,Blue,535371

In [55]:
stone_500_rich =stone_500_richment [["Number","Year","Album","Artist","Type","Rating","Gen","playcount","listeners"]]
stone_500_rich

,Number,Year,Album,Artist,Type,Rating,Gen,playcount,listeners
0,1,1971,What's Going On,Marvin Gaye,Album,4.65,r&b,5225169,544344
1,2,1966,Pet Sounds,The Beach Boys,Album,4.45,rock,13405485,543490
2,3,1971,Blue,Joni Mitchell,Album,4.45,folk,9352559,535371
3,4,1976,Songs in the Key of Life,Stevie Wonder,Album,4.55,soul,7654300,756584
4,5,1969,Abbey Road,The Beatles,Album,4.70,rock,42689209,1071401
...,...,...,...,...,...,...,...,...,...
495,496,1998,¿Dónde están los ladrones?,Shakira,Album,4.50,pop,376275,11475
496,497,1985,The Indestructible Beat of Soweto,Various Artists,Album + Compilation,NaN,mbaqanga,10677,911
497,498,1977,Suicide,Suicide,Album,4.00,rock,1497894,144592
498,499,1977,Ask Rufus,Rufus,Album,NaN,r&b,48099,8897
499,500,2004,Funeral,Arcade Fire,Album,4.65,rock,49308646,1516407

In [56]:
stone_500_rich.to_csv("../data/stone_500_rich.csv",index=False)

In [65]:
stone_500_rich.sort_values("listeners").head(20)

,Number,Year,Album,Artist,Type,Rating,Gen,playcount,listeners
411,412,1965,Going to a Go‐Go,Smokey Robinson and The Miracles,Album,NaN,soul,12,1
197,198,1979,The B‐52's,The B‐52's,Album,5.00,new wave,52,8
461,462,1969,The Gilded Palace of Sin,The Flying Burrito Bros.,Album,4.00,country,120,8
399,400,1981,Beauty and the Beat,The Go‐Go's,Album,3.00,new wave,120,17
380,381,1973,(pronounced 'lĕh‐'nérd 'skin‐'nérd),Lynyrd Skynyrd,Album,4.55,rock,291,38
84,85,1970,John Lennon/Plastic Ono Band,John Lennon/Plastic Ono Band,Album,4.00,rock,402,42
92,93,1997,Supa Dupa Fly,Missy Misdemeanor Elliott,Album,3.65,hip-hop,353,50
245,246,1990,Mama Said Knock You Out,L.L. Cool J,Album,4.50,hip-hop,479,74
324,325,1993,All Killer No Filler! The Jerry Lee Lewis Anth...,Jerry Lee Lewis,Album + Compilation,NaN,rock,1122,76
50,51,1982,The Great Twenty‐Eight,Chuck Berry,Album + Compilation,NaN,blues,1136,86
188,189,1997,Dig Me Out,Sleater‐Kinney,Album,4.55,rock,1337,99
464,465,2003,The Best of the Classic Years,King Sunny Adé,Album + Compilation,NaN,juju,1571,115
377,378,1984,Run‐D.M.C.,Run‐D.M.C.,Album,3.35,hip-hop,591,117
410,411,2001,“Love and Theft”,Bob Dylan,Album,3.85,folk,1280,166
133,134,1996,The Score,Fugees (Refugee Camp),Album,4.00,hip-hop,1240,173
488,489,1991,Back to Mono (1958–1969),Phil Spector,Album + Compilation,NaN,pop,5558,183
353,354,1978,Germfree Adolescents,X‐Ray Spex,Album,4.00,punk,2875,206
306,307,2003,Portrait of a Legend 1951–1964,Sam Cooke,Album + Compilation,NaN,soul,6454,237
404,405,1972,Nuggets: Original Artyfacts From the First Psy...,Various Artists,Album + Compilation,NaN,rock,7332,244
317,318,1997,The Velvet Rope,Janet,Album,4.00,r&b,7893,377