In [3]:
import requests
from bs4 import BeautifulSoup
import requests 
import json
import os
from dotenv import load_dotenv
import pandas as pd
from pandas import json_normalize
import tweepy
import time
load_dotenv()

True

In [2]:
apikey = os.getenv("apikey") #apikey de lastfm

# Spotify Most streamed
- scrapping

[charset: most streamed albums](https://chartmasters.org/spotify-most-streamed-albums/?y=alltime)
Last updated on 11/06/21

In [3]:
url_spotify = "https://chartmasters.org/spotify-most-streamed-albums/?y=alltime"
html_spotify = requests.get(url_spotify)
soup_spotify = BeautifulSoup(html_spotify.content,"html.parser")

In [4]:
tablas_spotify = soup_spotify.findAll("table")

In [5]:
spotify = tablas_spotify[1]
spotify.find_all("tr") #cuerpo
spotify.find_all("th") #cabeceros

[<th>Rank</th>,
 <th>Cover</th>,
 <th>Artist</th>,
 <th>Album</th>,
 <th>Total Streams</th>,
 <th>Daily Streams</th>,
 <th>EAS</th>]

In [6]:
def data_spotify(element):
    Top_alb = []
    for s in element.find_all("tr"):
        fila = [elemento for elemento in s.find_all("td")]
        if len(fila)>1:
            spot_dicc = {"Rank" : int(fila[0].text),
                        "Artist": fila[2].text.strip(),
                         "Album": fila[3].text.strip(),
                         "Total" :int(fila[4].text.replace(",","")),
                         "Daily" : int(fila[5].text.replace(",",""))
                        }
            Top_alb.append(spot_dicc)
    return Top_alb

In [7]:
element = spotify
Top_alb_spotify = data_spotify(element)
Top_alb_spotify[1]

{'Rank': 2,
 'Artist': 'Post Malone',
 'Album': 'beerbongs & bentleys',
 'Total': 9384072978,
 'Daily': 2632777}

In [8]:
Spotify_500 = pd.DataFrame(Top_alb_spotify)
Spotify_500

     Rank       Artist                        Album        Total    Daily
0       1   Ed Sheeran                   ÷ (Deluxe)  11127100157  4051251
1       2  Post Malone         beerbongs & bentleys   9384072978  2632777
2       3     Dua Lipa  Dua Lipa (Complete Edition)   8732775214  3017227
3       4  Post Malone         Hollywood's Bleeding   8617566505  4071637
4       5   Ed Sheeran          x (Wembley Edition)   8391502029  2462857
..    ...          ...                          ...          ...      ...
495   496       Avicii                          TIM   1296009146   422840
496   497      6ix9ine        Day69: Graduation Day   1294041801   253090
497   498    Lady Gaga              Joanne (Deluxe)   1287317328   405914
498   499  The Beatles                  The Beatles   1285544179   744177
499   500      Skillet                  Vital Signs   1285283838   658443

[500 rows x 5 columns]

In [9]:
Spotify_500.to_csv("../data/Spotify_500.csv")

# LastFM 50 Top Artists

In [10]:
url_last50 = f"http://ws.audioscrobbler.com/2.0/?method=chart.gettopartists&api_key={apikey}&format=json"
req_last50 = requests.get(url_last50).json()

In [11]:
last_50 = req_last50["artists"]["artist"]
last_top50 = pd.DataFrame.from_dict(last_50)

In [12]:
last_top50.sample(5)

,name,playcount,listeners,mbid,url,streamable,image
15,Arctic Monkeys,407426283,4147639,ada7a83c-e3e1-40f1-93f9-3e73dbc9298a,https://www.last.fm/music/Arctic+Monkeys,0,[{'#text': 'https://lastfm.freetls.fastly.net/...
41,The Kid LAROI,29159529,609976,,https://www.last.fm/music/The+Kid+LAROI,0,[{'#text': 'https://lastfm.freetls.fastly.net/...
20,Travis Scott,54886020,776503,e4a51f17-a57b-47b1-b37b-f552d0f8e9e6,https://www.last.fm/music/Travis+Scott,0,[{'#text': 'https://lastfm.freetls.fastly.net/...
0,Kanye West,466143817,5189790,164f0d73-1234-4e2c-8743-d77bf2191051,https://www.last.fm/music/Kanye+West,0,[{'#text': 'https://lastfm.freetls.fastly.net/...
40,Paramore,227167270,3031441,728ea90d-279b-4201-a8c4-597830883150,https://www.last.fm/music/Paramore,0,[{'#text': 'https://lastfm.freetls.fastly.net/...

In [13]:
last_top50.to_csv("../data/last_top50_image.csv") #me guardo esto por si acso

In [14]:
top50_lastfm = last_top50[['name', 'playcount', 'listeners']]

In [15]:
top50_lastfm.sample(5)

              name  playcount listeners
15  Arctic Monkeys  407426283   4147639
18        Dua Lipa  112290310   1324699
33   Justin Bieber   97923045   2324479
49   Fleetwood Mac  100123373   2695553
25     Tame Impala  130351282   1764389

In [16]:
top50_lastfm.to_csv("../data/top50_lastfm.csv")

# Top Sells

[top50]("https://www.businessinsider.com/50-best-selling-albums-all-time-2016-9")
Travis Clark Updated Sep 22, 2021, 8:18 PM

In [17]:
url_insider = "https://www.businessinsider.com/50-best-selling-albums-all-time-2016-9"
html_insider = requests.get(url_insider)
soup_insider = BeautifulSoup(html_insider.content,"html.parser")

In [18]:
tags_insider = soup_insider.find_all("div", {"class": "slide-layout"})
tags_insider[1]

<div class="slide-layout clearfix">
<div class="slide-title clearfix" data-e2e-name="slide-title">
<h2 class="slide-title-text">49. Kenny Rogers — "Kenny Rogers' Greatest Hits"</h2>
</div>
<figure class="figure image-figure-image" data-e2e-name="image-figure-image" data-media-container="image" data-type="img">
<div class="lazy-holder" style="padding-top: calc(100% * 898 / 980)">
<img alt="kenny rogers" class="lazy-image" data-content-type="image/jpeg" data-srcs='{"https://i.insider.com/57e43003077dccfc298b4a77":{"contentType":"image/jpeg","aspectRatioW":490,"aspectRatioH":449}}' src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3C/svg%3E"/>
<noscript>
<img src="https://i.insider.com/57e43003077dccfc298b4a77?width=600&amp;format=jpeg&amp;auto=webp"/>
</noscript>
</div>
<span class="image-source-only">
<span class="image-source headline-regular" data-e2e-name="image-source">
                                                  Liberty
                                                </span>
</span>
</figure>
<p><strong>Certified units: </strong>12 million</p><p><strong><a data-analytics-module="body_link" href="/reviews/out?asin=B000002U86&amp;originalTag=biip_092316_best-selling-albums-all-time-20&amp;platform=browser&amp;postSource=bi%7C57e4123eb0ef9737018b7881&amp;postTag=biauto-41385-20&amp;sc=false&amp;type=AMAZON-AFFILIATE-LINK&amp;u=https%3A%2F%2Fwww.amazon.com%2Fdp%2FB000002U86%3Ftag%3Dbiauto-41385-20" rel="noopener" target="_blank">Buy it here &gt;&gt;</a></strong></p>
<div class="slide-options">
</div>
</div>

In [19]:
tags_insider[0].find("h2").getText()

'50. Led Zeppelin —\xa0"Led Zeppelin II"'

In [20]:
tags_insider[0].find_all("p")[0].getText()

'Certified units: 12\xa0million'

In [21]:
def data_sells(element):
    lista = []
    for t in element:
        dicc_t = {"album": t.find("h2").getText(),
                 "certified units" : t.find("p").getText()}
        lista.append(dicc_t)
    return lista

In [22]:
insider_data = data_sells(tags_insider)
insider_data[0]

{'album': '50. Led Zeppelin —\xa0"Led Zeppelin II"',
 'certified units': 'Certified units: 12\xa0million'}

In [23]:
insider = pd.DataFrame(insider_data)
insider.sample(3)

,album,certified units
31,"19. Alanis Morisette — ""Jagged Little Pill""",Certified units: 16 million
25,"25. Journey — ""Greatest Hits""",Certified units: 15 million
15,"35. Steve Miller Band — ""Greatest Hits 1974-1978""",Certified units: 14 million

In [24]:
insider["Rank"] = insider["album"].str.extract(r"(^\d+)")
insider["Millions"] = insider["certified units"].str.extract(r"(\d+)")
insider["album"] = insider["album"].str.replace(" – "," — ",regex = True)
insider["Artist"] = insider["album"].str.extract(r"(^\d+.\s(.+?)—)")[1]
insider["Title"] = insider["album"].str.extract(r"(—\s(.+?)$)")[1]
insider["Title"] = insider["Title"].str.replace('"',"")

In [25]:
insider.sample(3)

,album,certified units,Rank,Millions,Artist,Title
40,"10. Hootie & The Blowfish — ""Cracked Rear View""",Certified units: 21 million,10,21,Hootie & The Blowfish,Cracked Rear View
32,"18. The Beatles — ""The Beatles 1967-1970""",Certified units: 17 million,18,17,The Beatles,The Beatles 1967-1970
43,"7. Led Zeppelin — ""Led Zeppelin IV""",Certified units: 23 million,7,23,Led Zeppelin,Led Zeppelin IV

In [26]:
insider.to_csv("../data/top_sells_certified.csv")

In [27]:
insider[["Millions","Rank"]] = insider[["Millions","Rank"]].astype("int64")
top_sells = insider[["Rank","Artist","Title","Millions"]]

In [28]:
top_sells.head()

   Rank         Artist                        Title  Millions
0    50  Led Zeppelin               Led Zeppelin II        12
1    49  Kenny Rogers   Kenny Rogers' Greatest Hits        12
2    48       Kenny G                    Breathless        12
3    47         Jewel                 Pieces of You        12
4    46   Def Leppard                      Hysteria        12

In [29]:
top_sells.to_csv("../data/top_sells.csv")

# Top 500 albums Rolling Stones enrinquecimiento con LastFM

### carga de archivo limpio

In [4]:
stone = pd.read_csv("../data/stone.csv")
stone = stone.drop("Unnamed: 0",axis=1)
stone.head(3)

,Number,Year,Album,Artist,Type,Rating,Releases,Genre,Gen,Subgenre,Alb_url,Art_url
0,1,1971,What's Going On,Marvin Gaye,Album,4.65,38,r&b,r&b,NaN,What%27s%20Going%20On,Marvin%20Gaye
1,2,1966,Pet Sounds,The Beach Boys,Album,4.45,47,rock,rock,NaN,Pet%20Sounds,The%20Beach%20Boys
2,3,1971,Blue,Joni Mitchell,Album,4.45,18,folk,folk,NaN,Blue,Joni%20Mitchell

### llamada a las apis de lastFM

In [5]:
def urls_llamadas ():
    api_urls = []
    apikey = os.getenv("apikey")
    for s in range(len(stone)):
        artist = stone.loc[s,'Art_url']
        album = stone.loc[s,'Alb_url']
        api_urls.append(f"http://ws.audioscrobbler.com/2.0/?method=album.getinfo&api_key={apikey}&artist={artist}&album={album}&format=json")
    request_dic = [] 
    i = 0
    for a in api_urls:
        res = requests.get(a).json()
        request_dic.append(res["album"])
        if i%50==0:
            print(f"{i} done")
        elif i == 499:
            print(f"index {i} reached, finished")
        i+=1
    return request_dic

In [6]:
Top500_last = urls_llamadas()

0 done
50 done
100 done
150 done
200 done
250 done
300 done
350 done
400 done
450 done
index 499 reached, finished

In [7]:
Top500_last_df = pd.DataFrame(Top500_last)

In [8]:
Top500_last_df.head(3)

,artist,mbid,tags,playcount,image,tracks,url,name,listeners,wiki
0,Marvin Gaye,0f2ab0b8-99a3-41e6-a07a-c2f506bd5e34,{'tag': [{'url': 'https://www.last.fm/tag/soul...,5218718,"[{'size': 'small', '#text': 'https://lastfm.fr...","{'track': [{'streamable': {'fulltrack': '0', '...",https://www.last.fm/music/Marvin+Gaye/What%27s...,What's Going On,543969,"{'published': '08 Aug 2012, 04:25', 'summary':..."
1,The Beach Boys,05b2f6c8-f9fd-4499-bd70-6f7d629a9cd4,{'tag': [{'url': 'https://www.last.fm/tag/60s'...,13404548,"[{'size': 'small', '#text': 'https://lastfm.fr...","{'track': [{'streamable': {'fulltrack': '0', '...",https://www.last.fm/music/The+Beach+Boys/Pet+S...,Pet Sounds,543460,"{'published': '07 Jul 2017, 12:48', 'summary':..."
2,Joni Mitchell,008a8b2e-3b20-3d77-999b-4f27378bf868,{'tag': [{'url': 'https://www.last.fm/tag/folk...,9341522,"[{'size': 'small', '#text': 'https://lastfm.fr...","{'track': [{'streamable': {'fulltrack': '0', '...",https://www.last.fm/music/Joni+Mitchell/Blue,Blue,534964,"{'published': '08 Aug 2021, 14:19', 'summary':..."

In [9]:
Top500_last_df.to_csv("../data/Top500LastFM_tracks.csv") #meloguardoporsiacaso

In [11]:
Lastfm_500 = Top500_last_df[["artist","playcount","name","listeners"]]
Lastfm_500.head(3)

           artist playcount             name listeners
0     Marvin Gaye   5218718  What's Going On    543969
1  The Beach Boys  13404548       Pet Sounds    543460
2   Joni Mitchell   9341522             Blue    534964

In [12]:
Lastfm_500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   artist     500 non-null    object
 1   playcount  500 non-null    object
 2   name       500 non-null    object
 3   listeners  500 non-null    object
dtypes: object(4)
memory usage: 15.8+ KB

In [13]:
Lastfm_500[["playcount","listeners"]] = Lastfm_500[["playcount","listeners"]].astype("int64")

/home/sinatxe/anaconda3/envs/ironhack/lib/python3.8/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [15]:
Lastfm_500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   artist     500 non-null    object
 1   playcount  500 non-null    int64
 2   name       500 non-null    object
 3   listeners  500 non-null    int64
dtypes: int64(2), object(2)
memory usage: 15.8+ KB

In [16]:
stone_500 = stone[["Number","Year","Album","Artist","Gen","Subgenre"]]
stone_500.sample(3)

,Number,Year,Album,Artist,Gen,Subgenre
171,172,1970,Bridge Over Troubled Water,Simon and Garfunkel,folk,NaN
340,341,1993,Siamese Dream,Smashing Pumpkins,rock,NaN
355,356,1968,Gris-Gris,"Dr. John, the Night Tripper",rock,r&b

In [17]:
#stone_alb.merge(reqs,left_index=True, right_index=True)
stone_500_richment = stone_500.merge(Lastfm_500,left_index=True, right_index=True)
stone_500_richment.head(3)

,Number,Year,Album,Artist,Gen,Subgenre,artist,playcount,name,listeners
0,1,1971,What's Going On,Marvin Gaye,r&b,NaN,Marvin Gaye,5218718,What's Going On,543969
1,2,1966,Pet Sounds,The Beach Boys,rock,NaN,The Beach Boys,13404548,Pet Sounds,543460
2,3,1971,Blue,Joni Mitchell,folk,NaN,Joni Mitchell,9341522,Blue,534964

In [18]:
stone_500_rich =stone_500_richment [["Number","Year","Album","Artist","Gen","Subgenre","playcount","listeners"]]
stone_500_rich

,Number,Year,Album,Artist,Gen,Subgenre,playcount,listeners
0,1,1971,What's Going On,Marvin Gaye,r&b,NaN,5218718,543969
1,2,1966,Pet Sounds,The Beach Boys,rock,NaN,13404548,543460
2,3,1971,Blue,Joni Mitchell,folk,NaN,9341522,534964
3,4,1976,Songs in the Key of Life,Stevie Wonder,soul,NaN,7645505,756100
4,5,1969,Abbey Road,The Beatles,rock,NaN,42687089,1071346
...,...,...,...,...,...,...,...,...
495,496,1998,¿Dónde están los ladrones?,Shakira,pop,NaN,376264,11475
496,497,1985,The Indestructible Beat of Soweto,Various Artists,mbaqanga,south african,10677,911
497,498,1977,Suicide,Suicide,rock,NaN,1497787,144580
498,499,1977,Ask Rufus,Rufus,r&b,NaN,48081,8896
499,500,2004,Funeral,Arcade Fire,rock,indie,49299076,1516119

In [19]:
stone_500_rich.to_csv("../data/stone_500_rich.csv")